$x: false;

.rela-block-container {
    display: flex;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.781);
    border-style: solid;
    border-color: #e55743;
    background-color: #000000c5;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    color: white;
}
    
.profile-card {
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 10%;
}
.profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 180px;
    border: 2px solid;
    border-radius: 100%;
    border-color: #e55743;
    background-size: cover;
} 

.profile-name-container{
    margin: 0 auto 10px;
    padding: 10px;
    text-align: center;
    }
.user-name {
    font-size: 30px;
    margin-bottom: 12px;
}
.user-desc {letter-spacing: 1px; color: #999;}
    
.profile-card-stats{
    display: inline;
    height: 75px;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
    margin: auto;
}

.profile-stat{
    display: inline;
    height: 100%;
    margin: auto 5px;
    &:after {color: #999};
} 
