html, body {
	display: flex;
	justify-content: center;
	align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-image: linear-gradient(to top right, white, #A7D9FB);
}

body {

}

#root {
  height: 100%;
  width: 100%;
}